/* Blockquotes and captions
--------------------------------------------- */
.entry-content .wp-block-quote {
    border-left: .25em solid $light-gray;
    padding-left: 1em;
    p {
        line-height: 1.6;
    	font-style: normal;
    }
    .wp-block-quote__citation {
        font-size: 13px;
    }
}

.entry-content .wp-block-pullquote {
    margin: 18px 0;
    p {
        line-height: 1.6;
    	font-style: normal;
    }
    &.alignleft,
    &.alignright {
        padding: 3em 0;
        p {
            font-size: 20px;
        }
    }
    &.alignleft {
        margin-right: 2em;
    }
    &.alignright {
        margin-left: 2em;
    }
    &:not(.is-style-solid-color) {
        border-top-width: 4px;
        border-top-style: solid;
        border-bottom-width: 4px;
        border-bottom-style: solid;
        background: none;
        padding: 20px 0;
        @include media($screen--m){
            padding: 40px 0;
        }
        @include media($screen--l){
            padding: 54px 0;
        }
        blockquote {
            position: relative;
            margin: 18px;
        }
    }
    &:not(.is-style-solid-color).alignleft,
    &:not(.is-style-solid-color).alignright {
        blockquote {
            margin: 0;
        }
    }
}

.entry-content {
    .wp-block-quote,
    .wp-block-pullquote {
        &.is-large,
        &.is-style-large,
        &.alignwide,
        &.alignfull {
            p {
            	font-size: 26px;
            }
        }
        cite {
            display: block;
            margin-top: 10px;
        	font-size: 15px;
            font-style: normal;
            letter-spacing: 0.08em;
            // text-transform: uppercase;
        	// text-align: center;
        }
    }
}

// .entry-content .wp-block-pullquote.is-style-solid-color.aligncenter p {
//     text-align: center;
// }

.entry-content {
    .wp-block-audio,
    .wp-block-embed,
    .wp-block-image {
        figcaption {
        	font-size: 16px;
        	font-style: normal;
        	margin-bottom: 30px;
        	margin-top: 10px;
            text-align: center;
            letter-spacing: 0.08em;
        }
    }
}
