/* Code
--------------------------------------------- */
.entry-content .wp-block-code {
    margin: 20px;
    padding: 10px;
    background-color: #fff;
    border: 2px solid rgba(0,0,0,0.1);
    code {
        color: #666;
    }
}

/* Verse
--------------------------------------------- */
.entry-content .wp-block-verse {
    padding-left: 30px;
    border-left: 4px solid rgba(0,0,0,0.1);
}
