body {
    overflow-x: hidden;
}

.content-sidebar-wrap {
    overflow: visible;
    display: block;
}

body.content-sidebar .content-sidebar-wrap,
body.content-sidebar .site-inner,
body.sidebar-content .content-sidebar-wrap,
body.sidebar-content .site-inner {
    display: flex;
    flex-direction: column;
    @include media($screen--m){
        flex-direction: row;
    }
}

body.content-sidebar .content-sidebar-wrap,
body.sidebar-content .content-sidebar-wrap {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

body.content-sidebar .content-sidebar-wrap > #genesis-content,
body.sidebar-content .content-sidebar-wrap > #genesis-content {
    max-width: 100%;
    @include media($screen--m){
        width: 65%;
    }
}

.full-width-content .content {
    @include media($screen--m){
        width: 65%;
        margin-left: auto;
        margin-right: auto;
    }
}

/* No top padding when AB Container Block or GB Container Block is first element on the page */
.first-block-atomic-blocks-ab-container .content > .entry,
.first-block-genesis-blocks-gb-container .content > .entry {
    margin-bottom: 0;
    padding-top: 0 !important;
    padding-bottom: 0;
}
