/* Blocks
---------------------------------------------------------------------------------------------------- */

.wp-block-verse,
.wp-block-preformatted {
	font-size: 16px;
}

.wp-block-preformatted {
	white-space: pre-wrap;
}

hr.wp-block-separator {
	// border: none;
	// border-top: 1px solid #eee;
	margin: 1.65em auto;
}

.wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
	max-width: 100px
}

.wp-block-audio audio {
	display: inline-block;
	width: 100%;
}

.entry-content .wp-block-gallery {
	padding-left: 0;
}
