/* Alignment
--------------------------------------------- */
.wp-block {
	max-width: 690px;
}

.wp-block[data-align="wide"] {
	max-width: 940px;
}

.wp-block[data-align="full"] {
	max-width: 100vw;
}

.wp-block-button.alignleft,
.wp-block-cover.alignleft,
.wp-block-image .alignleft {
	margin-right: 2em;
}

.wp-block-button.alignright,
.wp-block-cover.alignright,
.wp-block-image .alignright {
	margin-left: 2em;
}

.wp-block-image.alignwide,
.wp-block-image.alignfull,
.wp-block-embed.alignwide,
.wp-block-embed.alignfull {
	margin-bottom: 30px;
}

.full-width-content .entry-content .alignfull {
	margin-left: calc( -100vw / 2 + 100% / 2 );
	margin-right: calc( -100vw / 2 + 100% / 2 );
	max-width: 100vw;
}

.content-sidebar .entry-content .alignfull,
.sidebar-content .entry-content .alignfull {
	margin: 0 0 2em;
	width: 100%;
}

// .full-width-content .entry-content .alignwide {
//     @include media($screen--m) {
// 		margin-left: -146px;
// 		margin-right: -146px;
// 	}
// }

.alignwide {
	margin-left: calc( -99vw / 2 + 100% / 2);
    margin-right: calc( -99vw / 2 + 100% / 2);
    max-width: 99vw;
    width: auto;
	@include media($screen--l) {
	    margin-left: -146px;
	    margin-right: -146px;
	    max-width: 1020px;
	}
}

.wp-block-group:not(.alignwide):not(.alignfull) * {
    max-width: 690px;
    margin-left: 0;
}

.wp-block-group.alignwide *,
.wp-block-group.alignfull * {
	max-width: 100%;
    margin-left: 0;
}
