/* Columns
--------------------------------------------- */

.entry-content .wp-block-columns {
	display: block;
	margin-bottom: 30px;
    @include media($screen--m){
        display: flex;
    }
}

.entry-content .wp-block-columns.alignfull {
    padding: 0 60px;
	@include media($screen--m){
		padding: 0 30px;
	} 
}

.home .entry-content .wp-block-columns.alignfull {
	padding: 0;
}

.entry-content .wp-block-columns.alignwide {
	padding: 0 60px;
	@include media($screen--m){
		padding: 0;
	}
}

.entry-content .wp-block-columns .wp-block-column {
	margin-left: 0;
	margin-right: 0;
    @include media($screen--m){
        flex: 1;
		margin-left: 15px;
		margin-right: 15px;
    }
}

.entry-content .wp-block-columns .wp-block-column:first-of-type {
	margin-left: 0;
    @include media($screen--m){
        flex: 1;
		margin-left: 15px;
		margin-right: 15px;
    }
}

.entry-content .wp-block-columns .wp-block-column:last-of-type {
	margin-right: 0;
    @include media($screen--m){
        flex: 1;
		margin-left: 15px;
		margin-right: 15px;
    }
}

.entry-content .wp-block-columns .wp-block-column.one-third {
    flex-basis: 33.333% !important;
	float: none;
}

.entry-content .wp-block-columns .wp-block-column.two-thirds {
    flex-basis: 66.666% !important;
	float: none;
}
