$single-about-font-size: 24px;

.about-page {
	& > div,
	blockquote {
		font-size: $single-about-font-size;
		line-height: 1.8em;
	}

	article.type-page.entry {
		padding-top: 20px;
	}

	.entry-header > h1.entry-title {
		text-align: left;
		letter-spacing: 0.2em;
		font-size: 60px;
		line-height: 1.15em;
		margin-bottom: 16px;
	}

	h2, h3, h4, h5, h6 {
		line-height: 1.4;
		font-weight: 400;
		letter-spacing: 0.2em;
	}
	h2 {
		font-size: 48px;
	}
	h3 {
		font-size: 32px;
	}
	h4 {
		font-size: 24px;
	}
	h5 {
		font-size: $single-article-font-size;
	}

	/* Layout */
	.site-inner {
		max-width: 1100px;
	}
	
}