/*
Colors - All of the elements for default Custom Scheme
---------------------------------------------------------------------------------------------------- */
.site-header .site-title a,
.site-header .site-description {
    transition: all 0.2s ease-in-out;
}

.home .site-header.sticky:not(.scrolled) .site-title a,
.home .site-header.sticky:not(.scrolled) .site-description,
.home .site-header.sticky .genesis-nav-menu a,
.home .site-header.sticky .genesis-nav-menu .current-menu-item > a {
    color: $navtext;
    @include media($screen--m) {
        color: $white;
    }
}

.home .site-header.sticky .genesis-nav-menu li li a {
    color: $navtext;
}

.home .site-header:not(.sticky),
.home .site-header.sticky.scrolled,
body:not(.home) .site-header {
    background-color: $headerbg;
}

.home .site-header.sticky.scrolled .site-description,
body:not(.home) .site-header .site-description,
.home .site-header.sticky.scrolled .genesis-nav-menu a {
    color: $navtext;
}

.home .site-header.sticky.scrolled .genesis-nav-menu .current-menu-item > a,
.home .site-header.sticky.scrolled .genesis-nav-menu a:hover,
.home .site-header.sticky .genesis-nav-menu li li a:hover {
    color: $hover;
}

// Main Accent Color
.home .site-header:not(.sticky) .site-title a,
.home .site-header.sticky.scrolled .site-title a,
body:not(.home) .site-header .site-title a {
    color: $main-accent-color;
}

.home .site-header:not(.sticky) .site-title a:hover,
.home .site-header.sticky.scrolled .site-title a:hover,
body:not(.home) .site-header .site-title a:hover {
    color: $hover;
}

// Base Color 1
.archive-pagination .active a,
.button,
.home .widget .button,
.menu-toggle,
.sidebar .enews-widget input[type="submit"],
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.content .wp-block-button .wp-block-button__link {
    background-color: $button-bg-color;
    letter-spacing: 3px;
    font-size: 18px;
    text-transform: uppercase;
    color: $white;
}

.archive-pagination .active a:hover,
.button:hover,
.home .widget .button:hover,
.menu-toggle:hover,
.sidebar .enews-widget input[type="submit"]:hover,
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover
.menu-toggle:focus,
.menu-toggle:hover,
.archive-pagination li a:focus,
.archive-pagination li a:hover,
.content .wp-block-button .wp-block-button__link:focus,
.content .wp-block-button .wp-block-button__link:hover {
	background-color: $button-hover-bg-color;
}

.home .home-welcome .widget .button:hover {
    background-color: $main-accent-color;
}

.footer-widgets .footer-widgets-2 a,
.front-page-1a .widget-title,
.front-page-2 section.coursemaker-subtitle:last-of-type p:first-of-type,
.front-page-3 section.coursemaker-subtitle:first-of-type p:first-child,
.menu-social-menu-container li > a,
.sub-menu-toggle,
.sub-menu-toggle:focus,
.sub-menu-toggle:hover,
.subtitle,
a {
    color: $linksbuttons;
}

.footer-widgets .footer-widgets-2 a,
.menu-toggle,
.menu-toggle:focus,
.menu-toggle:hover,
.sub-menu-toggle,
a {
    border-color: $main-accent-color;
}

button.llms-button-secondary,
button.llms-button-secondary:hover {
    color: $white;
}

// base color 2

// .genesis-nav-menu .sub-menu,
// .home.no-featured-section .site-header,
// .js.fixed-header-off .custom-header-background .site-header,
// .js.fixed-header-on .custom-header-background.light .site-header,
// .js.home.fixed-header-on .custom-header-background.open.light .site-header,
// .home.no-featured-section .custom-header-background .site-header,
// .js.home.no-featured-section.fixed-header-on .custom-header-background .site-header,
// .menu-toggle,
// .no-js.custom-header .site-header,
// .site-footer,
// .site-header {
//   background-color: $base-color-2;
// }

// .search-form {
//   border-color: $base-color-2;
// }
//
.entry-title a:focus,
.entry-title a:hover,
a:focus,
a:hover {
    color: $hover;
}

// base color 3
// .front-page-testimonials {
//   background-color: $base-color-3;
// }

// base color 4

// .footer-widgets-1 {
//   background-color: $base-color-4;
// }

// base color 5
// #menu-social-menu li,
// #menu-social-menu li > a:focus,
// #menu-social-menu li > a:hover,
// #menu-social-menu li:focus,
// #menu-social-menu li:hover,
.footer-widgets .footer-widgets-1 a,
.footer-widgets .widget-area a.button,
.genesis-nav-menu a,
.site-footer,
.site-footer .genesis-nav-menu a,
.site-footer a {
    color: $navtext;
}

.site-header .site-description {
    color: $med-gray;
}

.footer-widgets .footer-widgets-1 a,
.footer-widgets .widget-area a.button,
.site-footer,
.site-footer a {
    border-bottom-color: $linksbuttons;
}

// hover
.custom-header-background .site-header .site-title a:focus,
.custom-header-background .site-header .site-title a:hover,
.genesis-nav-menu .current-menu-item > a,
.genesis-nav-menu a:focus,
.genesis-nav-menu a:hover,
.menu-social-menu-container li > a:focus,
.menu-social-menu-container li > a:hover,
.site-footer .genesis-nav-menu .current-menu-item > a,
.site-footer .genesis-nav-menu a:focus,
.site-footer .genesis-nav-menu a:hover,
.site-footer a:focus,
.site-footer a:hover,
.site-header .site-title a:focus,
.site-header .site-title a:hover {
    color: $hover;
}

.genesis-nav-menu .current-menu-item > a > span,
.genesis-nav-menu .current-menu-parent > a > span,
.genesis-nav-menu a:focus > span,
.genesis-nav-menu a:hover > span,
.site-footer .genesis-nav-menu .current-menu-item > a > span,
.site-footer .genesis-nav-menu .current-menu-parent > a > span,
.site-footer .genesis-nav-menu a:focus > span,
.site-footer .genesis-nav-menu a:hover > span {
    border-bottom-color: $hover;
}

.sidebar .enews-widget input[type="submit"]:focus,
.sidebar .enews-widget input[type="submit"]:hover,
.button:focus,
.button:hover,
button:focus,
button:hover,
input[type="button"]:focus,
input[type="button"]:hover,
input[type="reset"]:focus,
input[type="reset"]:hover,
input[type="submit"]:focus,
input[type="submit"]:hover,
.home .widget .button:focus,
.home .widget .button:focus p,
.home .widget .button:focus p a,
.home .widget .button:hover,
.home .widget .button:hover p,
.home .widget .button:hover p a {
    background-color: $hover;
}

// Other defaults colors not in Customizer

// .footer-widgets-2,
.sidebar .enews-widget,
.sidebar .enews-widget .widget-title,
.sidebar .widget.enews-widget {
  background: $soft-white;
}

.site-footer .icon {
  color: $white;
}

.site-footer a:focus,
.site-footer a:hover {
  border-bottom-color: transparent;
}

// .footer-widgets .image-section,
// .footer-widgets .image-section .widget-title,
// .footer-widgets .image-section a,
// .image-section {
//   color: $white;
// }
//
// .footer-widgets .image-section a {
//   border-bottom-color: $white;
// }

.footer-widgets .footer-widgets-1 a:focus,
.footer-widgets .footer-widgets-1 a:hover,
.footer-widgets .footer-widgets-2 a:focus,
.footer-widgets .footer-widgets-2 a:hover {
  border-bottom-color: transparent;
}

.fixed-header-on .custom-header-background.light .site-header,
.home.no-featured-section .site-header,
.site-header {
  transition: background-color 0.2s ease-in-out;
  background-color: $soft-white;
}

.fixed-header-off .custom-header-background .site-header {
  @include media($screen--m) {
    transition: background-color 0.3s linear .2s;
  }
}

.js.fixed-header-on .custom-header-background .site-header {
  @include media($screen--m) {
    // background-color: transparent;
    transition: background-color 0.3s linear .2s;
  }
}

.entry-title a:focus,
.entry-title a:hover,
a:focus,
a:hover {
  border-bottom-color: transparent;
}

.archive-pagination li a:focus,
.archive-pagination li a:hover {

  background-color: transparent;
}

.link-has-image {
  border-color: transparent;
}

.genesis-nav-menu .sub-menu-toggle {
  background-color: transparent;
}

.entry-title,
.entry-title a,
.footer-widgets-2 .widget-title,
.front-page-3 .widget_sp_image-description p:first-child,
.sidebar .widget-title a {
  color: $base-text-color;
}

.genesis-nav-menu .current-menu-item > a > span,
.genesis-nav-menu .current-menu-parent > a > span,
.genesis-nav-menu a:focus > span,
.genesis-nav-menu a:hover > span,
.site-footer .genesis-nav-menu .current-menu-item > a > span,
.site-footer .genesis-nav-menu .current-menu-parent > a > span,
.site-footer .genesis-nav-menu a:focus > span,
.site-footer .genesis-nav-menu a:hover > span {
  border-bottom: 2px solid;
}
