// From: https://wpdatatables.com/how-to-make-a-table-responsive/
.llms-sd-grades table {
	width: 100%;

	thead {
		display: none;
		@include media($screen--tablet) {
			display: table-header-group;
		}
	}
	tr:nth-of-type(2n) {
		background-color: inherit;
	}
	tr td:first-child {

		@include media($screen--tablet) {
			background: inherit;
			font-weight: inherit;
			font-size: inherit;
		}
	}
	tbody td {
		display: block;
		text-align: center;

		@include media($screen--tablet) {
			display: table-cell;
			text-align: inherit;
		}
	}
	tbody td:before {
		content: attr(data-th);
		display: block;
		text-align: center;
		width: 100%;
		font-weight: 700;

		@include media($screen--tablet) {
			display: none;
		}
	}
	tfoot {
		display: none;
		@include media($screen--tablet) {
			display: table-footer-group;
		}
	}
}

/* LifterLMS course single */
.single-course.single .entry-content {

	article h1.entry-title {
		padding-top: 90px;
		padding-bottom: 90px;
		font-weight: 400;
		color: $med-gray;
		font-size: 50px;
	}

	article .entry-content h3 {
		font-size: 40px;
		letter-spacing: 0.2em;
		font-weight: 400;
		color: $med-gray;

		&.llms-section-title {
			font-size: 50px;
		}
	}

	.llms-lesson-thumbnail {
		margin-bottom: 0;
	}

	.lessons.grid-style a.llms-lesson-link {
		
		section {
			padding: 0 28px;
		}
	}

	/* Lesson hover effects */
	.llms-syllabus-wrapper .lessons.grid-style > .llms-lesson-preview a > .llms-extra {
		display: flex;
		flex-wrap: wrap;
		align-items: inherit;
		margin: 0;
		padding: 0;
		margin-top: 15px;
		padding: 15px 28px;
		padding-bottom: 10px;

		p {
			display: block;
		}
	}
	.llms-syllabus-wrapper .lessons.grid-style > .llms-lesson-preview:hover a > .llms-extra {
		background-color: $black-coral;
		color: $white;

		.fa.fa-check-circle {
			color: $white;
		}
	}

	.llms-syllabus-wrapper .lessons.grid-style > .llms-lesson-preview h5.llms-lesson-title {
		font-size: 30px;
		letter-spacing: 0.2em;
		padding-top: 65px;
		padding-bottom: 35px;
	}

	.llms-main .llms-lesson-excerpt,
	.llms-main .llms-lesson-excerpt p {
		font-size: 23px;
		letter-spacing: 0.025em;
		line-height: 35px;
	}

	.llms-syllabus-wrapper .lessons.grid-style > .llms-lesson-preview a > .llms-extra {
		display: flex;
		flex-wrap: wrap;

		.learn-more {
			display: block;
			width: 100%;
			font-size: 23px;
			line-height: 40px;
			letter-spacing: 0.025em;
		}

		.extras {
			display: flex;
			justify-content: flex-end;

			span {
				display: inline-block;
				width: auto;
			}
		}
	}

	.featured-image {
		text-align: left;
	}

	.llms-meta-info {
		padding-bottom: 65px;
		font-size: 18px;
		margin: 0;

		

		.llms-meta {
			padding-bottom: 20px;
			margin-bottom: 0;
			font-size: 18px;

			&:last-child {
				padding-bottom: 0;
			}
		}

		.llms-meta-info {
			margin-bottom: 0;
			padding-bottom: 80px;
		}
	}

	.llms-author {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		position: relative;
		background-color: #F6F6F6;
		font-size: 15px;
		margin: 0;
		padding: 0;

		.llms-author-info.name {
			padding-top: 5px;
			padding-bottom: 8px;
		}

		.llms-author-info.label {
			padding-bottom: 10px;
		}

		p.llms-author-info.bio {
			max-width: 450px;
			text-align: center;
			margin: 0 auto;
			line-height: 1.2;
			padding-bottom: 15px;
		}
	}

	img.avatar {
		position: absolute;
		left: 15px;
	}

	span {
		display: inline-block;
		width: 100%;
	}

	.llms-button-action.button {
		color: $white;
	}
}

/* Adjust the LifterLMS Flexbox to fit */
.llms-syllabus-wrapper > div > .lessons.grid-style > .llms-lesson-preview {
	flex-grow: inherit;
	flex: 1 0 25%;
}