/* Widgets
---------------------------------------------------------------------------------------------------- */

/* # Widgets
---------------------------------------------------------------------------------------------------- */

.widget {
  margin-bottom: 40px;
  word-wrap: break-word;
}

.widget p:last-child,
.widget ul > li:last-of-type,
.widget-area .widget:last-of-type {
  margin-bottom: 0;
}

.widget ul > li {
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.widget ul > li:last-of-type {
  padding-bottom: 0;
}

.widget ol > li {
  list-style-position: inside;
  list-style-type: decimal;
  padding-left: 20px;
  text-indent: -20px;
}

.widget li li {
  border: 0;
  margin: 0 0 0 30px;
  padding: 0;
}

.widget_calendar table {
  width: 100%;
}

.widget_calendar td,
.widget_calendar th {
  text-align: center;
}

.sidebar .widget.widget_search {
  padding-left: 10px;
  padding-right: 10px;
}

.widget .button {
  font-family: $accent-font;
  font-weight: normal;
  font-size: 16px;
  border: 0;
  padding: 12px 24px;
  margin: 12px auto;
  text-align: center;
  min-width: 200px;
  @include media($screen--m) {
    font-size: 20px;
  }

}

.widget .button:focus,
.widget .button:focus p,
.widget .button:focus p a,
.widget .button:hover,
.widget .button:hover p,
.widget .button:hover p a {
  border: 0;

}

/* # Footer Widgets
---------------------------------------------------------------------------------------------------- */

.site-footer .widget-area {
    width: 100%;
    margin-bottom: 30px;
}

.home .footer-widgets {
    display: none;
}
